:root{

    --background-color: #395faa;
    --button-background: #dddddd;
    --button-border: #470000;
}
body{
    background-color: var(--background-color);
}
.pokemon-list{
    
    padding: 15px;
    width: max-content;
    margin: auto;
    border: solid 3px;
    background-color: #ffcb05;
    margin-top: 65px;
}
.page-title{
    font-variant: small-caps;
    font-weight: 600;
    text-align: center;
}

.button-class{
    display: flex;
    padding: 10px;
    margin: 5px;
    background-color: var(--button-background);
    border: 1px solid var(--button-border);
    border-bottom: 3px solid #00000073;
    border-right: 1px solid #00000073;
    box-shadow:0 0 15px 0 rgba(0, 0, 0, 0.3);
    font-variant: small-caps;
    transition: 0.5s;
    width: 250px;
    display:table-cell;

}   

.button-class:hover{
    cursor: pointer;
    border: var(--background-color) solid 8px;
}

#modal-container {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    
    /* to show it above other content */
    z-index: 999; 
    
    /* to allow scrolling if the screen is not high enough*/
    overflow: auto; 
    
    /* this is used to center the modal */
    display: none;
    text-align: center;
  }
  
#modal-container.is-visible {
    display: block;
}
  
  
.modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 450px;
    max-width: 700px;
    text-align: left;
    font-variant: small-caps;
    border: var(--background-color) solid 3px;
    margin-top: 80px;
}
  
.modal-close {
    float: right;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
    cursor: pointer;
}
main {
    margin-top: 75px;
}